body{
    margin: 0;

}

.wrapper{
    height: 100vh;
    width: 100%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
}
.name h1{
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    height: 375px;
    width: 100%;
    background-image: url(../../misc/logga@mobile.png);
    background-position: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
}
.menus{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    width: 100%;
}
.knapp{
    padding: 10px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    
}
.productsmenu{
    font-size: 1.2rem;
    display: none;
    border-bottom: 2px solid black;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}
.aboutusmenu{
    width: 100%;
    font-size: 1.2rem;
    display: none;
    flex-direction: column;
    border-bottom: 2px solid black;
    padding: 10px;
}
nav a{
    padding: 2px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}
.menuactivate{
    display: flex;
}
