body{
    margin: 0;
    
}

.wrapper{
    height: 100vh;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
}
.name h1{
    font-size: 2.2rem;
}
.logo{
    height: 375px;
    width: 100%;
    background-image: url(../../misc/logga@mobile.png);
    background-position: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
}
.menus{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    width: 100%;
    padding-left: 0px;
}
.knapp{
    padding: 10px;
    padding-bottom: 5px;
    font-size: 1.3rem;
    
}
.productsmenu{
    display: none;
    border-bottom: 2px solid black;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}
.aboutusmenu{
    width: 100%;
    display: none;
    flex-direction: column;
    border-bottom: 2px solid black;
    padding: 10px;
}
nav a{
    padding: 2px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}
.menuactivate{
    display: flex;
}
.searchbar{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}
.search{
    width: 85%;
    height: 30px;
    border: 2px solid black;
    padding: 5px;    
}
.searchbutton{
    background: white;
    border: 2px solid black;
    border-left: none;
    width: 15%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbutton i.material-icons{ 
    font-size: 2rem;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.productbox{
    width: 40%;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: top;
    font-size: 0.7rem;

    background-image: url(../img/first_yeeter@W150pxH220px.png);
}
.buybutton{
    padding: 2px;
    font-size: 1rem;
    margin-bottom: 5px;

    background-color: orange;
    border-radius: 10%;
    color: white;
    border: 1px solid ;
        


}
