body{
    margin: 0;
    background-color: lightblue;
}
.wrapper{
    height: 100vh;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}
header a{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.logo{
    height: 375px;
    width: 100%;
    background-image: url(../../misc/logga@mobile.png);
    background-position: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
}
.menus{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    width: 100%;
    padding-left: 0px;
}
.knapp{
    padding: 10px;
    padding-bottom: 5px;
    font-size: 1.3rem;
    
}
.productsmenu{
    display: none;
    border-bottom: 2px solid black;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}
.aboutusmenu{
    width: 100%;
    display: none;
    flex-direction: column;
    border-bottom: 2px solid black;
    padding: 10px;
}
nav a{
    padding: 2px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}
.cartlink{
    display: flex;
    justify-items: center;
    align-items: center;
}
.cartlink a{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0;
    border: none;
    margin-left: 30px;
}
.cartlink .material-icons{
    font-size: 1.9rem;
}
.menuactivate{
    display: flex;
}
.searchbar{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}
.search{
    width: 85%;
    height: 30px;
    border: 2px solid black;
    padding: 5px;    
}
.searchbutton{
    background: white;
    border: 2px solid black;
    border-left: none;
    width: 15%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbutton i.material-icons{ 
    font-size: 2rem;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.productbox{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    /* border: 2px solid black;
    align-items: flex-end;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: top;
    font-size: 0.7rem;
    
    background-image: url(../img/first_yeeter@W150pxH220px.png); */
}
.buybutton{
    padding: 2px;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: orange;
    border-radius: 10%;
    color: white;
    border: 1px solid black;
}
.productpagemain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.productname{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    font-size: 2rem;
    margin: 20px 0 20px 0;
}
.productimage{
    background-color: white;
    height: 300px;
    width: 80%;
    background-image: url(../img/first_yeeter.png);
    background-size: 80% 300px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
}
.productimage.frontpage{
    background-image: url(../img/first_yeeter@W150pxH220px.png);
    height: 160px;
    background-size: 124px 160px;
}
.productdesc{
    font-weight: bold;
    margin-top: 10px;
}
.pricecontainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}
.pricecontainer.frontpage{
    margin-top: 10px;
}
.productprice{
    font-size: 2rem;
}
.buybutton.medium{
    font-size: 2rem;
}
.productdescription{
    margin-top: 15px;
    width: 80%;
    font-size: 0.9rem;
    padding-bottom: 50px;
}
.productprice.small{
    font-size: 1rem;
}
.productlisttitle{
    font-size: 1.5rem;
    margin: 10px 0px 10px 0px;
}
.aboutmain{
    widows: 100%;
    display: flex;
    justify-content: center;
}
.abouttext{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.aboutheader{
    margin: 20px 0 18px 0;
    font-size: 2rem;
    font-weight: bold;
}
.aboutcontent{
    font-size: 1.2rem;
    padding-bottom: 50px;
}
.cartmain{

}
.cartheader{
    margin: 20px 0 18px 0;
    font-size: 2rem;
    font-weight: bold;
}